# ----------------------
# Python
# ----------------------
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ----------------------
# Environment Variables
# ----------------------
.env
.env.*

# ----------------------
# IDE
# ----------------------
.vscode/
.idea/

# ----------------------
# OS
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Cache / Testing
# ----------------------
.pytest_cache/
.mypy_cache/

# ----------------------
# Database
# ----------------------
*.sqlite3
